/* color name */
h1 {
  color: DarkCyan;
  background-color: Beige;
}

/* hex code */
h2 {
  color: #ee3e80;
  background-color: #F5F5DC;
}

/* rgb value */
p {
  color: rgb(100,100,90);
  background-color: rgb(204, 194, 194);
  background-color: hsla(0,100%,100%,0.5);
}
