h1, h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #EE8E40;
      text-align: center;
    }

    img.displayed {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      border: solid 2px #EE8E40;
    }

    img.logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 340px;
      
    }

    p.displayed {
      font-family: Verdana, Geneva, Tahoma, sans-serif display: block;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      border: solid 2px #EE8E40;
      padding: 5px;
    }